@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    /* background-color: red; */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 16px; */
    line-height: 1.5;
    /* background-color: red; */
    /* overflow: hidden; */
    /* background-color: #f4f4f4; */
}

body {
    background-color: #f4f4f4;
    /* overflow-x: hidden; */
}

i {
    color: white;
    position: relative;
    z-index: 3;
    /* text-align: end; */
    transition-duration: 1s;
    padding: 10px;
}

i:hover {
    color: #1190CB;
}


/* Global Styles */

button:focus {
    outline: none;
}

header {
    background-image: linear-gradient(from left red, white);
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    color: white;
    min-height: 60px;
    border-bottom: 2px #1190CB solid;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    overflow: hidden;
}

header a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

header a.active {
    color: #1190CB;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 20px;
    border-right: 1px #1190CB solid;
}


/* MISSION SECTION */

#mission {
    background-image: url("static/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 2px #1190CB solid;
}

#mission::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#mission h1 {
    color: white;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 100px;
    z-index: 2;
    padding: 20px;
    /* float: right; */
    /* right: -10px; */
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #1190CB;
}

div.story {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 40px; */
}

#mission img {
    position: relative;
    z-index: 2;
    padding-left: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* width: 300px; */
    margin-top: 50px;
}

blockquote {
    position: relative;
    z-index: 2;
    color: white;
    width: 60%;
    font-size: 23px;
    font-style: italic;
    margin-top: 50px;
}

cite {
    margin-left: 500px;
}


/* EVENTS STYLES */

#events {
    min-height: 270px;
    border-bottom: 2px #1190CB solid;
}

#events h1 {
    padding: 20px;
    color: #1190CB;
    font-size: 30px;
    text-transform: uppercase;
}

.events {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.event {
    width: 40%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px;
    margin-bottom: 30px;
    background-color: white;
}

div.event img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

div.event h2 {
    padding: 5px;
    margin-left: 10px;
    text-transform: uppercase;
}

div.event p {
    padding: 10px;
}

div.events i {
    color: #1190CB;
}

button.add {
    float: right;
    margin-right: 30px;
    padding: 5px;
    border-radius: 7px;
    background-color: #1190CB;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px black;
    transition: all .5s ease;
    cursor: pointer;
}

button.add:hover {
    background-color: greenyellow;
    color: #1190CB;
}


/* BOOKING STYLES */

#services {
    background-color: #1190CB;
    position: relative;
}

#services::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border: 2px rgba(0, 0, 0, .8) solid;
}

#services h1 {
    padding: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #f4f4f4;
    position: relative;
    z-index: 3;
    margin-right: 20px;
    font-size: 34px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
    /* margin-left: 30px; */
    width: 100%;
}

.book-col {
    width: 25%;
    /* height: 400px; */
}

.book-card {
    background-color: #f4f4f4;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
    height: 500px;
    position: relative;
    box-shadow: 5px 5px 10px;
    /* margin-left: 30px; */
}


/* .book-card:hover {
    transition-duration: 10s;
    transition-property: width;
    width: 400px;
} */

.book-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 60%;
}

.book-card h3 {
    padding: 10px;
}

.book-card p {
    font-size: 16px;
    font-weight: 500;
    padding: 1rem;
}

.book-btn {
    background-color: #1190CB;
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 270px;
    right: 10px;
    /* border: 1px greenyellow solid; */
    box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    transition-duration: .5s;
}

.book-btn:hover {
    background-color: greenyellow;
    /* color: #1190CB; */
}

.book-btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.book-btn a:hover {
    color: #1190CB;
}

.book-card-info {
    padding: 10px;
}

div.mid-row {
    position: absolute;
    top: -50px;
}

div.first-row {
    /* position: absolute; */
    margin-right: 100px;
}

h3 {
    text-transform: uppercase;
}

h3.general {
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 20px;
    ;
}

button.book-free {
    margin-bottom: 100px;
    padding: 15px;
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 30px;
    /* align-self: center; */
    margin-left: 37.5%;
    box-shadow: 0 5px 10px;
    transition: 1s ease;
}

button.book-free:hover {
    color: white;
    background-color: greenyellow;
}

button.book-free a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

button.book-free span {
    color: #1190CB;
    font-weight: 800;
    font-style: italic;
}

button.book-free a:hover {
    color: #f4f4f4;
}


/* TESTIMONIAL STYLES */

#testimonials {
    min-height: 300px;
    background-color: #f4f4f4;
    position: relative;
    z-index: 3;
}

#testimonials::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 450px;
    border-radius: 100%;
    top: -70px;
    left: 370px;
    right: 0px;
    background-color: #f4f4f4;
    z-index: -1;
    /* border-bottom: 2px #1190CB solid; */
    /* box-shadow: 3px 3px 10px; */
}

#testimonials h1 {
    text-align: center;
    position: relative;
    z-index: 3;
}

div.ttm {
    padding: 20px;
    margin: 20px;
    width: 33%;
    height: 10rem;
    border-radius: 20px;
    background-color: #1190CB;
    position: relative;
    box-shadow: 5px 5px 10px;
}

div.ttm p {
    margin-top: 40px;
    color: white;
}

div.ttms {
    display: flex;
    align-items: center;
}

div.middle {
    height: 15rem;
}

div.identidy {
    width: 60px;
    height: 60px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 30%;
    background-color: #f4f4f4;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

a.more-ttm {
    display: flex;
    justify-content: center;
}


/* CONTACT STYLING */

#contact {
    background-image: url("static/building2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px #1190CB solid;
    /* padding: 20px ; */
}

#contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    border-top: 2px #1190CB solid;
    /* z-index: -1; */
}

p.info-question {
    color: white;
    position: relative;
    font-size: 24px;
    z-index: 2;
}

p.info-question span {
    color: #1190CB;
    font-weight: 700;
}

div.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px #1190CB solid;
    border-radius: 30px;
    width: 55%;
    position: relative;
    z-index: 2;
    padding: .7rem;
    font-size: 24px;
    text-align: center;
}

input:focus {
    outline: none;
}

.valid {
    font-size: 22px;
    color: greenyellow;
    text-align: center;
    /* text-transform: uppercase; */
    font-style: italic;
    position: relative;
    z-index: 10;
}

.invalid {
    font-size: 22px;
    color: red;
    text-align: center;
    /* text-transform: uppercase; */
    font-style: italic;
    position: relative;
    z-index: 10;
}

.subscribe button {
    width: 10%;
    height: 40px;
    position: relative;
    z-index: 2;
    font-size: 22px;
    color: #fff;
    background-color: #1190CB;
    border-radius: 20px;
}

div.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 2;
    color: white;
    width: 80%;
    margin-top: 100px;
}

.company-info {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    width: 40%;
    height: 180px;
}

.oppurtunity {
    padding: 10px;
    /* background-color: rgba(0,0,0,.5); */
    width: 40%;
    height: 140px;
}

.oppurtunity h3 {
    color: #1190CB;
    font-weight: 700;
}

.oppurtunity p {
    padding: 5px;
}

.oppurtunity button {
    padding: 5px;
    color: white;
    background-color: #1190CB;
    width: 40%;
    border-radius: 20px;
    margin-left: 250px;
}

.join-btn a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 300px;
    /* padding: 10px; */
}


/* .social-links span {
    color: white;
    position: relative;
    z-index: 3;
    font-size: 18;
    text-align: center;
    margin-bottom: 20px;
} */


/* FOOTER STYLES */

#foot {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: #f4f4f4;
    font-weight: 300;
    letter-spacing: 4px;
}


/* HIDDEN UNTIL MOBILE */

div.mobile-services,
i.mobile-menu{
    display: none;
}
div.mobile-nav{
    display: none;
}


@media screen and (max-width: 767px) {
    
    body {
        
        overflow-x: hidden;
    }
    i.show{
        display:block;
        color: #1190CB;
        margin-top: 20px;
        margin-right: 20px;
        transition: all 1s ease;
        transform: rotate(360deg);
        position: relative;
        font-weight: 300;
        z-index: 100;

    }
    div.mobile-nav{
        display: flex;
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        /* align-items: center; */
        justify-content: center;
        transition: transform .5s ease;
        transform: translateX(100%);
      
        
    }
    div.mobile-nav li{
        color: #fff;
        text-decoration: none;
    }
    div.mobile-nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }
    div.mobile-nav a{
        color: #1190CB;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }
    div.mobile-nav.mobile-nav-active{
        transform: translateX(0%);
    }
     
    
    nav {
        display: none;
    }
    #mission img {
        display: none;
    }
    #mission h1 {
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
    }
    #mission blockquote {
        font-size: 17px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    #events {
        text-align: center;
        width: 100%;
        /* max-height: 200px; */
    }
    #events h1 {
        margin: 0;
    }

    div.event2::after {
        border-radius: 5px;
    }
    div.events {
        flex-direction: column;
        height: 100%;
    }
    div.event {
        width: 90%;
        /* height: 300px; */
        margin: 0 10px 20px 10px;
        border-radius: 5px;
        max-height: 500px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, .5);
    }
    div.event img {
        border-radius: 5px;
        height: 120px;
    }
    div.event a {
        font-size: 18px;
    }
    div.container {
        display: none;
    }
    #services h1 {
        text-align: center;
    }
    div.mobile-services {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 3;
        width: 100%;
        margin-bottom: 30px;
    }
    div.service {
        width: 100%;
        /* height: 300px; */
        border-bottom: 1px #1190CB solid;
        text-align: center;
    }
    div.service-heading {
        background-color: #f4f4f4;
    }
    div.service h2 {
        background-color: #f4f4f4;
        color: #1190CB;
        width: 100%;
        padding: 10px;
    }
    div.info-hide {
        display: none;
    }
    div.mobile-services-info {
        height: auto;
        background-color: white;
        transition: all 1s ease;
    }
    div.mobile-services-info a{
        background-color: #1190CB;
        width: 100%;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        /* text-transform: uppercase; */
    }
    div.mobile-services-info a:hover{
        background-color: greenyellow;
        color: #1190CB;
    }
    div.service p {
        padding: 10px;
        color: black;
        background-color: white;
        transition: all 2s ease;
    }
    div.service-heading i {
        background-color: #f4f4f4;
        color: #1190CB;
        text-decoration: none;
        height: 100%;
        margin-right: 20px;
        transition: all .5s ease;
    }
    div.service-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.mobile-services h4 {
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }
    button.book-btn-mobile {
        padding: 5px;
        width: 80%;
        align-self: center;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    button.book-btn-mobile a {
        text-decoration: none;
        color: #1190CB;
        font-weight: 700;
    }
    button.book-free {
        display: none;
    }
    h3.general {
        display: none;
    }
    #testimonials {
        overflow-y: hidden;
    }
    div.ttms {
        max-height: 250px;
        overflow-x: auto;
        width: 100%;
        /* padding: 20px; */
        /* margin: 20px; */
    }
    div.ttms::-webkit-scrollbar {
        width: 0;
    }
    div.ttm {
        min-width: 360px;
        /* padding: 10px; */
        /* margin-left: 20px; */
    }
    div.middle {
        height: 10rem;
    }
    div.subscribe p {
        text-align: center;
        margin-top: 20px;
        /* height: 15rem; */
    }
    div.subscribe input {
        height: 40px;
        width: 90%;
        margin-top: 10px;
        /* margin: 10px; */
    }
    div.subscribe button {
        width: 80%;
    }
    div.bottom {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    div.company-info {
        width: 90%;
        overflow-y: hidden;
        margin: 10px;
    }
    div.oppurtunity {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    button.join-btn {
        height: 40px;
        width: 80%;
        margin: 0;
    }
    div.social {
        margin-left: 40%;
        text-align: center;
        align-self: center;
    }
    section#contact{
        height: auto;
    }
}