body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: absolute; */
    font-family: verdana, sans-serif;
    /* overflow-x: hidden; */
}

section.landing{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("building.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

section.landing > *{
    position: relative;
    z-index: 2;
}
section.landing:after{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .2); */
    /* background-image: linear-gradient(to bottom, #000, #000, #fff); */
    content: '';
    left: 0;
    top: 0;

}
img{
    width: 60%;
    height: auto;
    left: 290px;
    position: sticky;
    
}
div.shape{
    top: 160px;
    right: 50px;
    border-radius: 15px;
    background-color: rgb(110, 230, 94);
    color: whitesmoke;   
}
div.shape:hover{
    background-color: white;
    color: rgb(110, 230, 94);
}


/* NAV STYLING */

div.nav{
    height: 200px;
    width: 100%;
    background-color: rgb(136, 136, 139);
}
ul.nav{
    align-items: center;
}

div.header{
    background-image: url("building.jpg");
    background-position: cover ;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}
img.img-header{

    height: 150px;
    width: auto;
    position: relative;
    top: 30px;
    left: 325px;
}
div.book-btn{
    
    font-size: 14px;
    border-radius: 20px;
    width: 40vw;
    background-color: #cecece;
}

div.events{
    height: 200px;
    width: 100%;
    border-top: 1px solid black;
}

div.event{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 40vw;
}

/* MISSION STYLING */
div.mission{
    height: 800px;
    width: 100%;
    background-color: darkmagenta;
}
div.small-line{
    
    border-bottom: 2px solid #ccc;
    
}

div.long-line{
    border-bottom: 2px solid #ccc;
    /* margin-left: 60px; */
    
}
div.mi{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/* BOOKING STYLING */
div.booking{
    height: 800px;
    width: 100%;
    background-color: rgb(255, 251, 0);
}
div.testimonials{
    height: 800px;
    width: 100%;
    background-color: rgb(0, 255, 170);
}
div.contact{
    height: 800px;
    width: 100%;
    background-color: rgb(255, 0, 0);
}